<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  
  {% include mathjax_support %}
  
  <head>
  … rest of head
  {% if page.title %}
      <title>CawCannon | {{ page.title }}</title>
  {% else %}
      <title>CawCannon</title>
  {% endif %}
      <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    {%- include header.html -%}
    
    something written in the default.html

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
